<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Pipes Custom
  </h1>
  <br>
  <br>
    <b>Pipe Date Spain String Complete</b>
  <br>
  <br>
    <span class="input-container">
      <input type="date" name="date" [(ngModel)]="dateNow"/>
    </span>
    <span class="pipe-container">
      {{dateNow | pipeDateSpain}}
    </span>
  <br>
  <br>
    <b>Pipe Km to Milles</b>
  <br>
  <br>
    <span class="input-container">
      <input type="number" name="km" [(ngModel)]="km"/>
    </span>
    <span class="pipe-container">
        {{km | pipekmToMilles}}
    </span>
  <br>
  <br>
    <b>Pipe Minutes to seconds</b>
  <br>
  <br>
    <span class="input-container">
      <input type="number" name="minutes" [(ngModel)]="minutes"/>
    </span>
    <span class="pipe-container">
      {{minutes | minutesToSeconds}}
    </span>
  <br>
  <br>
    <b>Pipe Uppercase First Character All Words</b>
  <br>
  <br>
    <span class="input-container">
      <input type="text" name="lineString" [(ngModel)]="lineString"/> 
    </span>
    <span class="pipe-container">
      {{lineString | uppercaseFirstCharacter}}
    </span>
  <br>
  <br>
    <b>Pipe Eur Libras</b>
  <br>
  <br>
    <span class="input-container">
      <input type="number" name="eur" [(ngModel)]="eur"/> € are
    </span>
    <span class="pipe-container">
      {{eur | pipeEurLibras}} Libras
    </span>
  <br>
  <br>
    <b>Pipe Multiplica valor param</b>
  <br>
  <br>
    <span class="input-container">
      <input type="number" name="numero" [(ngModel)]="numero"/> 
      multiply by <input type="number" name="numeroMultiplica" [(ngModel)]="numeroMultiplica"/> result --> 
    </span>
    <span class="pipe-container">
      {{numero | pipeMultiplicaValorParam: numeroMultiplica}}
    </span>


    

</div>